<!-- custom template to display an about page, uses normal post to hold contents, triggered by 
selecting the post as an about page.
-->
{% extends 'base.html' %} 
{% load static %}
{% block content %}
  <div class="row">    
    <div class="col-md-8   mt-3 left float-left  top">      
      {% if not queryset %}
        <div class="card mb-4">  
          <div class="card-body">  
            <h2>About Aspire</h2>
            <p>
              Aspire is a content managment system created on the django platform by Mark Hart.  
              It is designed to be the base of any content managment website and can be built out 
              with additional featues based on business needs. This is the 4th iteration of this 
              web application. This is a clean and tweaked version of a working django web application
              and is intended to be cloned for any other projects. ♥
            </p>
            <p>
              While there are some dynamic aspects of the website, the current vision is not a one size fit all but 
              rather a lets start here and customize this for the situation. 
            </p>
            <p>Things that need to be added
              <ol>
                <li>Complete User authentication with email verification</li>
                <li>Add sign-up / sign-in for social media</li>
                <li>Add - Add post form</li>
              </ol>

            </p>
            <p>10/1/2023
              <ul style="list-style-type: symbols(♥);">
                <li>AuthAll for social media sign up  and authentication</li>
                <li>Jazzamin added for bootstrap admin panel</li>
                <li></li>
              </ul>
            </p>
            <p>
              For more information please reach out.
            </p>
          </div> 
        </div> 
      {% else %}      
        {% for post in queryset %}
          <div class="card mb-4">        
            <img src='../media/{{ post.header_image }}' class="img-fluid" />
            <div class="card-body">
              <p class="card-text ">{{ post.content | safe }}</p>
            </div>        
          </div>
          {% endfor %}
      {% endif %}
    </div>    
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
{% endblock content %}


