{% extends 'base.html' %} 
{% load static %}
{% block content %}
  <div class="row">
    <div class="col-md-8  mt-3 left  top">      
      <div class=" card mb-4">
        <div class="card-body">
            <h1>Aspire Content Managment System</h1>
            <h4>*** This is a fresh install and does not have any articles</h4>  
            
  <!--   Start Here to update readme file -->          

            <p>To-Do:
              <ol>
                <li>Verify that github repo can be cloned and working without issues</li>
                  <ul>
                    <li>Does default data need to be loaded</li>
                    <ul>
                      <li>
                        Can I preload it with the initial migration?
                      </li>
                    </ul>
                  </ul>
                <li>Complete User authentication with email verification</li>
                <li>ADD</li>
                <ul>
                  <li>sign-up / sign-in for social media</li>
                  <li>Add post form</li>
                  <li>tags , just like categories to posts</li>
                  <li>user profile view</li>
                  <li>search by user posts</li>
                  <li>a contact page</li>
                  <li>comment system?</li>
                </ul>
                <li>logic for display of social media if not present</li>
                  <ul>
                    <li>Or should the model be adjusted for each application</li>
                  </ul>
                <li>Figure out where and how to host</li>
                <li>Style the Administration Dashboard</li>
              </ol>

            </p>
            <p><i>Initial Entry - 10/01/2023</i>
              <ul style="list-style-type: symbols(♥);">
                <li>AuthAll package installed but not configured</li>
                <li>Jazzamin added for bootstrap admin panel and configured but not styled completely</li>
                <li>ckeditor package installed</li>
                <li>phone field package</li>
              </ul>
            </p>
            <p>
              For more information please reach out.
            </p>



  <!--   End  Here  -->  

        </div>
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
{% endblock content %}