{% load static %}
{% block sidebar %}
<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right">
    <div class="card my-4 mt-3">
        <div class="card-body">
            <p style="font-size: small;">
                <b>Disclaimer</b> <i>- This site contains product affiliate links. I may receive a commission or reward if you make a purchase or signup after clicking on one of these links.</i>
            </p>
        </div>
    </div>
    <div class="card my-4 mt-3">       
        <div class="card-body">
            <div class="card-text"> 
                <div align="center" style="padding-top: 3px; padding-bottom: 5px;">
                    <img src={% static "themes/aspire/images/logo.png" %} class="img-fluid"  width="150" height="150"/>
                </div>
                <p>{{ seo_description }}</p>
            </div>                          
                <p>
                    <a href="mailto:{{email}}" target=”_blank” title="Email Me" style="color: #000000;"><i class="fa-solid fa-envelope fa-xl"></i> - {{ email }}</a></li>
                </p>
                <p align="center">
                    {% block social_block %} {% include 'social-media.html' %} {% endblock social_block %}
                </p>            
        </div>
    </div>    
</div>
{% endblock sidebar %}